header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

nav{
    height: auto;
    width: 90%;
    max-width: 95%;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    /* scroll-behavior: smooth; */
    /* overflow-y: scroll; */
    background-color: #ff7f7f26;
    box-shadow: 0px 5px 5px -5px black;
    color: rgb(170 166 166);
}

a,span{
    text-decoration-line: none;
    padding: 5px;
    font-weight: 700;
}

span{
    color: rgb(188, 77, 29);
    box-shadow: 0px 1px 1px 8px rgb(170 166 166);
    border-radius: 3px;
    background-color: #ff7f7f26;
}

a:hover{
    color: rgb(188, 77, 29);
    box-shadow: 0px 1px 1px 2px black;
    border-radius: 3px;
    background-color: #ff7f7f26;
}