main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
}

form{
    height: auto;
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    /* scroll-behavior: smooth; */
    /* overflow-y: scroll; */
    background-color: #ff7f7f26;
    box-shadow: 0px 5px 5px -5px black;
}

h3{
    margin: 5px;
}


form>label,input,select{
    margin-bottom: 20px;
    border-radius: 3px;
}

input,select{
    border: black 3px solid;
}

input:hover,select:hover{
    cursor: pointer;
    border-color: yellow;
}

#correo:valid,#contrasena:valid,#contrasena2:valid{
    background-color: rgba(26, 136, 26, 0.571);
}
#correo:invalid,#contrasena:invalid,#contrasena2:invalid{
    background-color: #ff00002b;
}

#passwords>legend{
    text-align: left;
}

#passwordMismatchError{
    margin: 4px;
    color: white;
    background-color: rgba(93, 20, 20, 0.858);
    opacity: 0;
    position: relative;
    left: 74px;
    top: -20px;
    padding-left: 20px;
    padding-right: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
